@font-face {
    font-family: "Tahoma";
    src: url("../fonts/tahoma.ttf") format("woff2");
    font-family: "Segoe UI Bold";
    src: url("../fonts/SegoeUIBold.ttf") format("woff2");
}

/** Colors 
#152d35 -dark blue
#345b63 - light blue
#dbc7c7 - pink
#f2e9f0 - light pink
**/

/** Body---------------------------------------------
----------------------------**/
*{
    box-sizing: border-box;
}
body{
    font-family: "Tahoma", 'Segoe UI', Geneva, Verdana, sans-serif;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
nav a, li, a{
    grid-column: 1;
    grid-row: 1 / span 2;
    list-style: none;
    text-decoration: none;
}
nav a, h1, h2 {
    font-family: "Segoe UI Bold";
    color: #152d35;
    text-align: center;
    margin-top: 0;
}

/** Header -----------------------------------------------
------------------------ **/
header{
    background-color: #edd5e9;
    min-width: 100vw;
    position: fixed;
    display: grid;
    grid-template-columns: auto 1fr auto;
}
.logo{
    width: 150px;
    height: 85px;
    margin: 15px 0 5px 10px;
}
.icons{
    grid-column: 2 / span 3;
    grid-row: 1;
    text-align: right;
    margin-right: 15px;

}
.icons img{
    width: 30px;
    height: 30px;
    margin-top: 5px;
    margin-right: 10px;
}
nav{
    grid-column: 2;
    grid-row: 2;
}
nav ul{
    display: flex;
    margin-bottom: 0;
}
nav a{
    font-size: 30px;
    margin-left: 20px;
}
nav a:hover{
    background-color: #152d35;
    padding: 2px;
    border-radius: 10px;
    color: #dbc7c7;
}
.active{
    text-decoration: underline;
}
label{
    display: none;
}
#hamburger-menu {
    display: none;
}  
#hamburger-menu:checked ~ nav a {
    display: absolute;
 }
/** Main branding------------------------------
----------------------**/
main{
    margin-top: 105px;
    padding: 10px;
}
.branding img{
    height: 500px;
    width: 520px;
    margin-bottom: 25px;
}
.flexible,.durable{
    display: grid;
    grid-template-columns: auto auto;
    grid-auto-flow: dense;
    grid-gap: 10px;
    align-items: center;
}
.durable>img{
    grid-column: 2;
}
.durable>.text{
    grid-column:1 ;
}
.branding-2{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 15px;
    text-align: center;
}
.branding-2 img{
    width: 430px;
    height: 400px;
}
/***Main Product---------------------------------
---------------------**/
.product{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-content: center;
    margin: auto;
    grid-gap: 10px
}
.picture{
    background-color: #dbc7c7c0;
    padding: 5px;
    width: 100%;
    height: 350px;
}
.add-icon{
    width: 40px;
    height: 30px;
    margin-right: 10px;
    float:right;
}
.product p{
    margin: 1px 10px;
}
.product-sample{
    display: grid;
    grid-template-columns: 0px 1fr;
    grid-template-rows: 351px 1fr;
    margin-top: 50px;
}
.like-icon{
    grid-area: 1/1/1/1;
    margin-left: 5px;
}
.sale{
    grid-area: 1/1/1/1;
    margin: 318px 0 8px 8px;
    background-color: #152d35;
    color: #dbc7c7;
    border-radius: 5px;
    width: 55px;
    text-align: center;
}
.orig-price{
    text-decoration: line-through;
    text-decoration-color: #152d35;
}

/** Footer information -------------------------------------------
-------------------------**/
.info{
    display: flex;
    justify-content: space-around;
    background-color: #152d35;
    margin-top: 50px;
    text-align: left;
}
.info-header h2, .info-header li{
    margin-bottom: 5px;
    text-align: left;
}
.info-header a{
    color: #dbc7c7;
}

/** Footer Social Media ---------------------------------------------
--------------------------------**/
.social-media, .payment-partners{
    text-align: center;
    margin-top: 40px;
}
footer img{
    width: 50px;
    margin-inline: 20px;
}

/** Footer Copyright ------------------------------------------------
-------------------------------**/
footer p{
    background-color: #edd5e9;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 0;
    padding: 10px;
}

/** Responsiveness --------------------------------------------------
-------------------------------**/
@media screen and (max-width: 900px) {
    .branding img{
        height: 350px;
        width: 250px;
    }
    .product-sample {
        grid-template-rows: 302px 1fr;
    }
    .picture {
        height: 300px;
    }
    .sale {
        margin: 270px 0 8px 8px;
    }
    .like-icon img{
        width: 60px;
        margin-top: 5px;
    }
}

@media screen and (max-width:650px){
    header{
        grid-template-columns: 1fr 1fr 1fr;
    }
    header a{
        grid-column: 2;
    }
    nav a{
        display: none;
        font-size: 25px;
    }
    label{
        display: block;
        position: fixed;
        margin-left: 20px;
        margin-top: 35px;
    }
    label img{
        width: 35px;
    }
    #hamburger-menu:checked ~ nav a{
        display: grid;
        text-align: left;
    }
    nav{
        grid-column: 1;
    }
    nav ul{
        display: inline;
        position: absolute;
        background-color: #edd5e9;
        padding: 10px;
        margin-top: -40px;
    }
    .icons img{
        width: 25px;
        height: 25px;
        margin-right: 3px;
    }
    main{
        margin-top: 80px;
    }
    .branding img{
        height: 326px;
        width: 200px;
        margin-bottom: 5px;
    }
    .product{
        grid-template-columns: repeat(2, 1fr);
    }
    .logo{
        width: 135px;
        height: 60px;
    }
    .info-header{
        margin-left: 10px;
        margin-right: 10px;
    }
    .info-header h2{
        font-size: 18px;
    }
    .info-header li{
        font-size: 12px;
    }
}

@media screen and (max-width:450px) {
    .logo{
        width: 100px;
        height: 50px;
    }
    label{
        margin-top: 25px;
    }
    nav ul{
        padding: 0 3px;
        margin-top: -15px;
    }
    .icons{
        grid-row: 2;
        margin-right: 10px;
    }
    .icons img{
        width: 20px;
    }
    .branding img{
        width: 370px;
    }
    .flexible, .durable{
        display: block;
        text-align: center;
    }
    .durable>img{
        grid-column: none;
    }
    .durable>.text{
        grid-column: none;
    }
    .branding-2{
        grid-template-columns: none;
    } 
    .product-sample {
        grid-template-rows: 210px 1fr;
    }
    .picture {
        height: 205px;
    }
    .sale {
        margin: 172px 0 15px 8px;
    }
    .info-header h2{
        font-size: 15px;
    }

}